ul.pagination{
	display: inline-block;
}
ul.pagination li{
	display: inline;
	cursor:pointer;
	padding: 8px 16px;
}

ul.pagination li{
	background-color:#4CAF50;
	color:white;
	border-radius: 5px;
}
ul.pagination li a.active{
	border-radius: 5px;
}
ul.pagination li:hover{
	border-radius: 5px;
	background-color:#ddd;
}
ul.pagination li:hover:not(.active){
	border-radius: 5px;
	background-color:#ddd;
}
@media screen and (min-width:980px){
	#container{
		width:100%;
		/*background-color: mistyrose;*/
		padding-top:10px;
		padding-bottom:10px;
		padding-left:10px;
		padding-right:10px;
	}
	.item{
		display: inline-block;
		/*background-color: gold;*/
		width: 24%;
	}
	.subitem{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		/*background-color: aqua;*/
		width: 200px;;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.subitem img{
		width: 100px;
		height:100px;
	}
}
@media screen and (min-width:768px) and (max-width:979px){
	#container{
		width:100%;
		/*background-color: mistyrose;*/
		padding-top:10px;
		padding-bottom:10px;
		padding-left:10px;
		padding-right:10px;
	}
	.item{
		display: inline-block;
		/*background-color: gold;*/
		width: 49%;
	}
	.subitem{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		/*background-color: aqua;*/
		width: 200px;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.subitem img{
		width: 190px;
		height:190px;
	}
}
@media screen and (max-width:767px){
	#container{
		width:100%;
		/*background-color: mistyrose;*/
		padding-top:10px;
		padding-bottom:10px;
		padding-left:10px;
		padding-right:10px;
	}
	.item{
		display: inline-block;
		/*background-color: gold;*/
		width: 95%;
	}
	.subitem{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		/*background-color: aqua;*/
		width: 200px;
		margin-top: 1%;
		margin-bottom: 1%;
	}
	.subitem img{
		width: 210px;
		height:210px;
	}
}
